Infrastructure/GridServices/GridService_KeyServer/src/trencadis/infrastructure/services/KeyServer/etc/KeyServerConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by osiris (osiris) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="CONFIGURATION">
        	<xs:complexType>
                	<xs:sequence>
                              <xs:element ref="SERVICE_PARAMETERS"/>
			      <xs:element ref="GATEKEEPER_PARAMETERS"/>     
                              <xs:element ref="BACKEND_PARAMETERS"/>     
                              <xs:element ref="LOGGER_PARAMETERS"/>
                              <xs:element ref="INDEX_SERVICE_PARAMETERS"/>
	                </xs:sequence>
        	</xs:complexType>
	</xs:element>

        <xs:element name="SERVICE_PARAMETERS">
        	<xs:complexType>
                	<xs:sequence>
                            <xs:element ref="IDENTITY"/>
                            <xs:element ref="DOMAIN"/>
                            <xs:element ref="BASE_PATH"/>
                            <xs:element ref="PATH_CATRUSTCERT"/>
                            <xs:element ref="TMP_DIR"/>
                        </xs:sequence>
        	</xs:complexType>
	</xs:element>

        <xs:element name="GATEKEEPER_PARAMETERS">
          	<xs:complexType>
                	<xs:sequence>
                            <xs:element ref="HOST_NAME"/>
                            <xs:element ref="HOST_PORT"/>
                            <xs:element ref="DB_NAME"/>
                            <xs:element ref="USER"/>
                            <xs:element ref="PASSWORD"/>
                        </xs:sequence>
        	</xs:complexType>
       	</xs:element>
        
        <xs:element name="BACKEND_PARAMETERS">
          	<xs:complexType>
                	<xs:sequence>
                            <xs:element ref="HOST_NAME"/>
                            <xs:element ref="HOST_PORT"/>
                            <xs:element ref="DB_NAME"/>
                            <xs:element ref="USER"/>
                            <xs:element ref="PASSWORD"/>
                        </xs:sequence>
        	</xs:complexType>
       	</xs:element>

        <xs:element name="LOGGER_PARAMETERS">
          	<xs:complexType>
                	<xs:sequence>
                            <xs:element ref="LOG_PATH"/>                            
                        </xs:sequence>
        	</xs:complexType>
       	</xs:element>


	<xs:element name="INDEX_SERVICE_PARAMETERS">
        	<xs:complexType>
                	<xs:sequence>                               
                               <xs:element ref="REGISTRATION_PATH"/>
                        </xs:sequence>
        	</xs:complexType>
	</xs:element>

        <xs:element name="IDENTITY"             type="xs:string"/>
        <xs:element name="DOMAIN"               type="xs:string"/>
        <xs:element name="HOST_NAME"            type="xs:string"/>
        <xs:element name="HOST_PORT"            type="xs:string"/>
	<xs:element name="DB_NAME"              type="xs:string"/>
        <xs:element name="USER"  		type="xs:string"/>
        <xs:element name="PASSWORD" 	 	type="xs:string"/>
        <xs:element name="LOG_PATH" 	 	type="xs:string"/>
        <xs:element name="BASE_PATH"            type="xs:string"/>
        <xs:element name="PATH_CATRUSTCERT" 	type="xs:string"/>
	<xs:element name="TMP_DIR"		type="xs:string"/>        
        <xs:element name="REGISTRATION_PATH"    type="xs:string"/>

</xs:schema>
