Infrastructure/GridServices/GridService_KeyServer/src/trencadis/infrastructure/services/KeyServer/etc/xmlInputStore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by osiris (osiris) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

 <xs:element name="ONTOLOGIES">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="IDONTOLOGY" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>                
            </xs:complexType>
 </xs:element>
   
 <xs:element name="INPUT">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CERTIFICATE"       type="xs:string"/>
        <xs:element name="EOUID"             type="xs:string"/>
        <xs:element name="IDONTOLOGIES"      ref="ONTOLOGIES"/>
	<xs:element name="MAC"               type="xs:string"/>
        <xs:element name="PART_KEY_SHARE"    type="xs:string"/>
        <xs:element name="ID_PART_KEY_SHARE" type="xs:integer"/>        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>