Infrastructure/GridServices/GridService_StorageBroker/src/trencadis/infrastructure/services/StorageBroker/etc/storageBrokerConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by osiris (osiris) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:element name="CONFIGURATION">
        	<xs:complexType>
                	<xs:sequence>
                              <xs:element ref="LOCAL_PARAMETERS"/>
			      			  <xs:element ref="AMGA_PARAMETERS"/>
			                  <xs:element ref="LFC_PARAMETERS"/>
                              <xs:element ref="GATEKEEPER"/>
                              <xs:element ref="INDEX_SERVICE"/>
	                </xs:sequence>
        	</xs:complexType>
	</xs:element>

	<xs:element name="LOCAL_PARAMETERS">
        	<xs:complexType>
                	<xs:sequence>
                            <xs:element ref="BASE_PATH"/>
                            <xs:element ref="PATH_CATTRUSTCERT"/>
                            <xs:element ref="TMP_DIR"/>
                            <xs:element ref="POLL_INTERVAL"/>
                    </xs:sequence>
        	</xs:complexType>
	</xs:element>
	
	<xs:element name="AMGA_PARAMETERS">
       <xs:complexType>
          <xs:sequence>
             <xs:element ref="HOST_NAME"/>
             <xs:element ref="HOST_PORT"/>
          </xs:sequence>
       </xs:complexType>
	</xs:element>
	
	<xs:element name="LFC_PARAMETERS">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="LCG_GFAL_INFOSYS"/>
              <xs:element ref="LCG_GFAL_VO"/>
              <xs:element ref="LFC_HOME"/>
	          <xs:element ref="LFC_HOST"/>
	          <xs:element ref="LCG_CATALOG_TYPE"/>
	          <xs:element ref="LCG_RFIO_TYPE"/>
	          <xs:element ref="VO"/>
	          <xs:element ref="VO_DEFAULT_SE"/>
            </xs:sequence>
          </xs:complexType>
	</xs:element>

    <xs:element name="GATEKEEPER">
      	<xs:complexType>
           	<xs:sequence>
                 <xs:element ref="DATABASE_PARAMETERS"/>
            </xs:sequence>
      	</xs:complexType>
	</xs:element>

    <xs:element name="DATABASE_PARAMETERS">
       	<xs:complexType>
           	<xs:sequence>
                <xs:element ref="HOST_NAME"/>
                    <xs:element ref="HOST_PORT"/>
                    <xs:element ref="DB_NAME"/>
                    <xs:element ref="USER"/>
                    <xs:element ref="PASSWORD"/>
            </xs:sequence>
      	</xs:complexType>
    </xs:element>

	<xs:element name="INDEX_SERVICE">
        <xs:complexType>
            <xs:sequence>
                 <xs:element ref="URL_IIS_CENTRAL"/>
                 <xs:element ref="REGISTRATION_PATH"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="BASE_PATH"            type="xs:string"/>
    <xs:element name="PATH_CATTRUSTCERT" 	type="xs:string"/>
    <xs:element name="TMP_DIR"				type="xs:string"/>
    <xs:element name="POLL_INTERVAL"		type="xs:string"/>

	<xs:element name="REMOTE_HOME"          type="xs:string"/>

    <xs:element name="LCG_GFAL_INFOSYS"     type="xs:string"/>
    <xs:element name="LCG_GFAL_VO"          type="xs:string"/>
    <xs:element name="LFC_HOME"             type="xs:string"/>
	<xs:element name="LFC_HOST"             type="xs:string"/>
	<xs:element name="LCG_CATALOG_TYPE"     type="xs:string"/>
	<xs:element name="LCG_RFIO_TYPE"        type="xs:string"/>
	<xs:element name="VO"                   type="xs:string"/>
	<xs:element name="VO_DEFAULT_SE"        type="xs:string"/>

    <xs:element name="HOST_NAME"            type="xs:string"/>
    <xs:element name="HOST_PORT"            type="xs:string"/>
	<xs:element name="DB_NAME"              type="xs:string"/>
    <xs:element name="USER"  		        type="xs:string"/>
    <xs:element name="PASSWORD" 	 	    type="xs:string"/>

    <xs:element name="URL_IIS_CENTRAL"      type="xs:string"/>
    <xs:element name="REGISTRATION_PATH"    type="xs:string"/>

</xs:schema>
