Infrastructure/GridServices/GridService_StorageBroker/src/trencadis/infrastructure/services/StorageBroker/etc/xmlOutputMultipleMetadataQuery.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by osiris (osiris) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="BACKEND">
    <xs:complexType>
      <xs:sequence>
         <xs:element name="URI"         type="xs:string"/>
		 <xs:element name="DSR_TYPE"    type="xs:string"/>
		 <xs:element name="HOSPITAL"    type="xs:string"/>
		 <xs:element name="STATUS"      type="xs:string"/>
		 <xs:element name="DESCRIPTION" type="xs:string"/>
		 <xs:element name="ID"          type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="OUTPUT">
        	<xs:complexType>
                	<xs:sequence>
                			<xs:element name="STATUS"      type="xs:string"/>
		 					<xs:element name="DESCRIPTION" type="xs:string"/>
                			<xs:element ref="BACKEND" minOccurs="0" maxOccurs="unbounded"/>
	                </xs:sequence>
        	</xs:complexType>
  </xs:element>

</xs:schema>
