Infrastructure/GridServices/GridService_DICOMStorage/src/trencadis/infrastructure/services/DICOMStorage/etc/xmlOutputDownloadAllReportsIDByOntology.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by osiris (osiris) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<!-- <BACKEND_TYPE>GRID_FTP</BACKEND_TYPE> <HOST_NAME>trencadisv06.i3m.upv.es</HOST_NAME> 
		<HOST_PORT>2811</HOST_PORT> <HOME_DIR>/home/gridftp</HOME_DIR> -->
	
   <xs:simpleType name="DICOM_SR_ID">
  		<xs:restriction base="xs:string"/>
   </xs:simpleType>
   
   
   <xs:element name="BACKEND_PARAMETERS">
        	<xs:complexType>
                    <xs:sequence>
                         <xs:element name="BACKEND_TYPE"	type="xs:string"/>
                         <xs:element name="HOST_NAME"		type="xs:string"/>
                         <xs:element name="HOST_PORT"		type="xs:string"/>
                         <xs:element name="HOME_DIR"		type="xs:string"/>
                    </xs:sequence>
        	</xs:complexType>

   </xs:element>
   
   <xs:element name="DICOM_REPORTS_ID">
            <xs:complexType>
            	<xs:sequence>
                	<xs:element name="DICOM_SR_ID" type="DICOM_SR_ID" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>              
            </xs:complexType>
   </xs:element>
   
   <xs:element name="OUTPUT">
        	<xs:complexType>
                    <xs:sequence>
                         <xs:element name="STATUS"      		type="xs:string"/>
                         <xs:element name="DESCRIPTION" 		type="xs:string"/>
                         <xs:element name="CENTERNAME"  		type="xs:string"/>
                         <xs:element name="BACKEND_PARAMETERS" 	ref="BACKEND_PARAMETERS"/>
                         <xs:element name="DICOM_REPORTS_ID" 	ref="DICOM_REPORTS_ID"/>
                    </xs:sequence>
        	</xs:complexType>

   </xs:element>
</xs:schema>
