Infrastructure/GridServices/GridService_OntologyServer/src/trencadis/infrastructure/services/OntologiesServer/etc/xmlInputGetOntology.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by osiris (osiris) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="INPUT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CERTIFICATE"   type="xs:string"/>
			  	<xs:element name="IDONTOLOGY"   type="xs:string"/>
	        </xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
