Infrastructure/GridServices/GridService_OntologyServer/src/trencadis/infrastructure/services/OntologiesServer/etc/xmlOutputGetOntology.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by osiris (osiris) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  	
        <xs:element name="ONTOLOGY">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="xml_DICOM_SR_Template" type="xs:string"/>
                </xs:sequence>
                <xs:attribute name="IDOntology"  type="xs:string" use="required"/>
                <xs:attribute name="Description" type="xs:string" use="required"/>
            </xs:complexType>
        </xs:element>
        
        
	<xs:element name="OUTPUT">
        	<xs:complexType>
                	<xs:sequence>
                		<xs:element name="STATUS"      type="xs:string"/>
                        <xs:element name="DESCRIPTION" type="xs:string"/>
			  			<xs:element name="ONTOLOGY"    ref="ONTOLOGY"/>			  		
	                </xs:sequence>
        	</xs:complexType>
	</xs:element>

</xs:schema>
